<div class="row">        <!-- first two days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>Lesson 1</td>
        <td><a href="https://carpentries-incubator.github.io/statistical-thinking-public-health/" target="_blank">Statistical thinking for public health</a></td> </tr>
      <tr>               <!-- row 2   -->
        <td>Lesson 2</td>        <!-- time    -->
        <td><a href="https://carpentries-incubator.github.io/simple-linear-regression-public-health" target="_blank">Simple linear regression for public health</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>Lesson 3</td>        <!-- time    -->
        <td><a href="https://carpentries-incubator.github.io/multiple-linear-regression-public-health" target="_blank">Multiple linear regression for public health</a></td>       <!-- content -->
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>Lesson 4</td>
        <td><a href="https://carpentries-incubator.github.io/logistic-regression-public-health" target="_blank">Logistic regression for public health</a></td> </tr>
      <tr>               <!-- row 2   -->
        <td>Lesson 5</td>        <!-- time    -->
        <td><a href="https//carpentries-incubator.github.io/linear-mixed-models-public-health/" target="_blank">Linear mixed effect models for public health</a></td>        <!-- content -->
      </tr>
    </table>
  </div>
</div>
